doctype html
html(lang="en")
    head
        title About Finding X
    body
        header
            h1 About Finding X
        section#content
            h2 Our Story
        footer
            p Take control of your project finances
