doctype html
html(lang="en")
    head
        title Finding X Home
    body
        header
            h1 Finding X
        section#content
            h2 Welcome!
        footer
            p Take control of your project finances
